.contact-mf {
    margin-top: 2rem;
}

footer {
    text-align: center;
    color: #fff;

}

.container {
    padding-bottom: 30px;
}

/*======================================
  //--//-->   CONtaCT FORM
  ======================================*/

#sendmessage {
    color: #0078ff;
    border: 1px solid #0078ff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.row {
    padding: 0%;
    margin: 0%;
}

.succmessage {
    font-size: 18px;
    transform: scale(1.1);
    transition: 1.1s;
    color: green;
    height: 200px;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;

}

.succmessage img {
    width: 250px;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: inline-flex;


}

.error {
    display: none;
    transition: 1.1s;
}

#errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
    display: block;
}

.validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

/*======================================
  //--//-->   BUTTON
  ======================================*/

.btnhover:hover {
    color: white;
}

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}

@media (min-width: 767px) {
    .about-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }

    .card-blog {
        margin-bottom: 3rem;
    }

    .contact-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}